<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
	<Script file="Defaults.lua"/>
	<Script file="Changelog.lua"/>
	<Script file="Core.lua"/>
	<Script file="General.lua"/>
	<Script file="ProfileSharing.lua"/>
	<Script file="SpellEditor.lua"/>
	<Script file="Spells.lua"/>
	<Script file="Blacklist.lua"/>
	<Script file="Alerts.lua"/>
</Ui>